{% extends 'store/main.html' %}

{% load static %}


{% block content %}


{% if page ==  "login" %}
<div >

    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form__group form__group">
        <label for="room_name">Username</label>
        <input id="username" name="username" type="text" placeholder="e.g. dennis_ivy" />
        </div>
        <div class="form__group">
        <label for="password">Password</label>
        <input
            id="password"
            name="password"
            type="password"
            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
        />
        </div>

        <button class="btn btn-outline-success" type="submit">
        
        Login
        </button>
    </form>



</div>

    

    <div class="auth__action">
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}" class="btn btn-outline-success">Sign Up</a>
    </div>

{% else %}

<div class="container">
    <div class="layout__box">
        <div class="layout__boxHeader">
        <div class="layout__boxTitle">
            <h3>Register</h3>
        </div>
        </div>
        <div class="layout__body">

        <form class="form" method="POST" action="">
            {% csrf_token %}

            {% for field in form %}

            <div class="form__group form__group">
            <label for="room_name">{{field.label}}</label>
            {{field}}
            <!-- <input id="username" name="username" type="text" placeholder="e.g. dennis_ivy" /> -->
            </div>

            {% endfor %}

        
            <button class="btn btn btn-outline-success" type="submit">
            Register
            </button>
        </form>

        <div class="auth__action">
            <p>Signed up already?</p>
            <a href="{% url 'login' %}" class="btn btn--link">Login</a>
        </div>

        
        </div>
    </div>
    </div>


    {% endif %}

{% endblock content %}