{% extends 'store/main.html' %}

{% block content %}
<h1>Your Products</h1>


<div class="row">

    {% for product in products %}

    <div class="col-lg-4">
        
       
        
        <div class="box-element product">
            <img class= "thumbnail" src="{{product.imageURL}}" >
            
            <h6><strong>{{product.name}}</strong></h6>

            <hr>
            <!-- class update-cart is for handling on click events through Js-->
            <!-- <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Edit Product</button>  -->
            <a href="#" class="btn btn-outline-success">View </a>
            <a href="{% url 'seller_update_product' product.id%}" class="btn btn-outline-success">Update </a>
            
            <h4 style="display: inline-block; float: right;">${{product.price|floatformat:2}}</h4>
        </div>

    </div>

    {% endfor %}

    
    

</div>





{% endblock content %}
