{% extends 'store/main.html' %}

{% load static %}

{% block content %}

    <div class="row">

        {% for product in products %}

        <div class="col-lg-4">
            
            <!-- <img class= "thumbnail" src="{% static 'images/placeholder.png' %}" > -->
            
            <div class="box-element product">
                <img class= "thumbnail" src="{{product.imageURL}}" >
                
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <!-- class update-cart is for handling on click events through Js-->
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button> 
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display: inline-block; float: right;">${{product.price|floatformat:2}}</h4>
            </div>

        </div>

        {% endfor %}

        
        

    </div>



{% endblock content %}
